<% include ./partials/header %>
<div class="container"> 
<h1 >Image Search Abstraction Layer</h1>
<p>Freecodecamp Project</p>
<a target="_blank" href="https://github.com/souryavaranasi"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
<a target="_blank" href="https://codepen.io/souryacodes/"><i class="fa fa-codepen fa-3x" aria-hidden="true"></i></a>
<a target="_blank" href="https://www.freecodecamp.org/souryavaranasi"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
<h3>search images here!</h3>
<form  method="POST" action="/api">
     <input type="search" name="search[term]" placeholder="enter here." >
 
    <button class="btn btn-xs btn-primary btn-default" type="submit">search</button>
</form>
 
 
 
</div>


<%  include ./partials/footer %>